## **4) ✨ Hacer predicciones con el modelo guardado.**

En este ultimo paso, solo debo cargar el modelo guardado previamente y hacer las predicciones con el set de datos de ***test.csv***

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import pickle
import sys

sys.path.append('..')
from scripts.pipeline import proceso_ingenieria

In [4]:
with open('../mejor_modelo.sav', 'rb') as _file:
    modelo = pickle.load(_file)

In [2]:
# Carga de los datasets
test = pd.read_csv('../datasets/titanic-test.csv')
test_ext = pd.read_csv('../datasets/titanic-test-extended.csv')

In [3]:
df = proceso_ingenieria(test, test_ext)

In [4]:
df.duplicated()

0      False
1       True
2       True
3       True
4      False
       ...
416    False
417     True
418    False
419    False
420    False
Length: 421, dtype: bool

In [11]:
df_test.drop_duplicates()

,Age,Fare,Survived,Sex_female,Sex_male,Pclass_1,Pclass_2,Pclass_3,Embarked_C,Embarked_Q,Embarked_S,FamilySize,Title_Master,Title_Miss,Title_Mr,Title_Mrs
0,34.5,7.8292,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,47.0,7.0000,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
5,62.0,9.6875,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
6,27.0,8.6625,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
7,22.0,12.2875,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
411,37.0,90.0000,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
412,28.0,7.7750,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
414,38.5,7.2500,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
415,34.0,8.0500,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
416,4.0,22.3583,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0

In [ ]:
x, y = df_test.drop('Survived', axis = 1), df_test.Survived

modelo.predict(x)

KeyError: "['Survived'] not found in axis"